<div class="card-trip mt-4">
    <%= cl_image_tag(act_photo) %>
  <div class="card-trip-infos">
    <div>
      <h2><%= title %></h2>
      <p><%= category %></p>
    </div>
    <h2 class="card-trip-pricing">R$ <%= price %></h2>
      <%= cl_image_tag(user_photo, class: "card-trip-user avatar-bordered") %>
  </div>
</div>
