<div class="card-trip">
  <% if act_photos %>
    <div class='cardActivityCarousel images-carousel'>
      <% act_photos.each do |act_photo| %>
        <%= cl_image_tag(act_photo.key, :width=>300, :height=>250, :gravity=>"faces", :crop=>"fill")%>
      <% end %>
    </div>
  <% else %>
    <%= image_tag('placeholder.png') %>
  <% end %>
  <div class="card-trip-infos">
    <div>
      <h2><%= title %></h2>
      <%= render("shared/category-badge", category: category) %>
    </div>
    <h2 class="card-trip-pricing"><%= number_to_currency(price, unit: "R$ ", separator: ",", delimiter: "") %></h2>
    <% if act_user_photo %>
      <%= cl_image_tag(act_user_photo, class: "card-trip-user avatar-bordered") %>
    <% else %>
      <%= image_tag('avatar.png', class: "card-trip-user avatar-bordered") %>
    <% end %>
  </div>
</div>
