<div class="container mt-4">
  <div class="d-flex justify-content-between flex-wrap">
    <div class="container_custom col-sm-6" style="background-image: url(<%= image_url('ukulele.jpg')%>);object-fit: contain;">
    </div>
    <div class="container_custom col-sm-6">
      <h1>Seja criativo na educação do seus filhos</h1>
      <p>Encontre ideias diferentes e serviços recomendados por outros pais e viva momentos especiais com seus filhos!</p>
      <div class="btns-category">
        <%= link_to "casa", activities_path(category: 'Casa'), class: 'btn-tag1 display:inline-block hvr-grow' %>
        <%= link_to "ar livre", activities_path(category: 'Ar livre'), class: 'btn-tag2 display:inline-block hvr-grow' %>
        <%= link_to "online", activities_path(category: 'Online'), class: 'btn-tag3 hvr-grow' %>
        <%= link_to "cozinha", activities_path(category: 'Cozinha'), class: 'btn-tag4 hvr-grow' %>
        <%= link_to "livros", activities_path(category: 'Livros'), class: 'btn-tag5 hvr-grow' %>
        <%= link_to "aniversário", activities_path(category: 'Aniversário'), class: 'btn-tag6 hvr-grow' %>
        <%= link_to "com amigos", activities_path(category: 'Com Amigos'), class: 'btn-tag7 hvr-grow' %>
        <%= link_to "+ muito mais!", activities_path(category: 'Outros'), class: 'btn-tag9 hvr-grow' %>
      </div>
      <a class="btn-calltoaction" href="#">Descubra atividades agora</a>
    </div>
  </div>
</div>
