<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>


<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="<%= image_path('kidstime.png') %>"/>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<h1 class='mb-5'>Activities</h1>
<h3 class='mb-5'>Category</h3>

 <div class="btns-category">
      <%= link_to "em casa", root_path, class: 'btn-tag1 display:inline-block hvr-grow' %>
      <%= link_to "ar livre", root_path, class: 'btn-tag2 display:inline-block hvr-grow' %>
      <%= link_to "online", root_path, class: 'btn-tag3 hvr-grow ' %>
      <%= link_to "na cozinha", root_path, class: 'btn-tag4 hvr-grow' %>
      <%= link_to "livros", root_path, class: 'btn-tag5 hvr-grow' %>
      <%= link_to "aniversário", root_path, class: 'btn-tag6 hvr-grow' %>
      <%= link_to "com amigos", root_path, class: 'btn-tag7 hvr-grow' %>
      <%= link_to "+ muito mais!", root_path, class: 'btn-tag9 hvr-grow' %>
    </div>

<div class= 'container'>

<div class="card-trip">
  <%= link_to '#', class: 'link_image' do %>
 <img src="https://media.buzzle.com/media/images-en/photos/sports/soccer/1200-72968253-children-playing-soccer-ball.jpg" />
 <% end %>
  <div class="card-trip-infos">
    <div>
      <h2>Soccer</h2>
      <p>45 Minutes    /    From 4 - 14 years old</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<div class="card-trip">
  <%= link_to '#', class: 'link_image' do %>
  <img src="https://statig1.akamaized.net/bancodeimagens/d4/ww/24/d4ww24vsz5cptkkxyzdhhj7p3.jpg" />
  <% end %>
  <div class="card-trip-infos">
    <div>
      <h2>Games</h2>
      <p>30 Minutes    /    From 4 - 14 years old</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>


<div class="card-trip">
  <%= link_to '#', class: 'link_image' do %>
  <img src="https://i.ytimg.com/vi/rQ7mERRzAKc/maxresdefault.jpg" />
   <% end %>
  <div class="card-trip-infos">
    <div>
      <h2>Slime</h2>
      <p>45 Minutes    /    From 4 - 8 years old</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>


<div class="card-trip">
   <%= link_to '#', class: 'link_image' do %>
   <img src="http://www.muitochique.com/wp-content/uploads/2020/03/atividades-para-crian%C3%A7as-com-autismo.jpg" />
   <% end %>
  <div class="card-trip-infos">
    <div>
      <h2>Painting</h2>
      <p>1 hour    /    From 4 - 14 years old</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>


</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
