<div class="container">
  <h1></h1>
  <div class= 'container'>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.buzzle.com/media/images-en/photos/sports/soccer/1200-72968253-children-playing-soccer-ball.jpg)">
  Soccer
  <style type="text/css">
    .card-category {
      background-size: cover;
      background-position: center;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 40px;
      font-weight: bold;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      border-radius: 5px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
    .container {
      margin-top: 30px;
    }


     </style>
</div>

  <p>Find me in app/views/activities/show.html.erb</p>
  <%= @activity.title %>
  <hr>
  <%= @activity.description %>
  <hr>
  <%= @activity.category %>
  <hr>
  <%= @activity.duration %>
  <hr>
  <%= @activity.min_age%>
  <hr>
  <%= @activity.price%>
  <hr>
  <%= simple_form_for([@activity, @order]) do |f| %>
    <%= f.submit %>
  <% end %>
</div>

