<!DOCTYPE html>
<html>
  <head>
    <title>KidsTime - Ideias criativas para momentos especiais recomendadas por outros pais</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <%= render('shared/navbar') %>
      <%= render('shared/flashes') %>
    </header>
    <!-- Page content -->
    <%= yield %>
    <!-- Footer -->
    <footer>
      <%= render('shared/footer') %>
    </footer>
  </body>
</html>
