<!DOCTYPE html>
<html>
  <head>
    <title>KidsTime - Ideias criativas para momentos especiais recomendadas por outros pais</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="container">
      <!-- code a navbar -->
      <div class="navbar-lewagon flexbox">
        <h3 class="navbar_brand">KidsTime</h3>
        <%= link_to "Login / Sign up", root_path, class: 'btn-tag8' %>
      </div>
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <!-- code a footer -->
      <div class="footer d-flex align-self-center align-items-center">
        <div class="links ">
          <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
          <p>KidsTime <i class="fas fa-heart"></i></p>
        </div>
      </div>
    </div>
  </body>
</html>
